@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond:wght@400;500;600;700;800&display=swap');

@media (max-width: 1372px) {
    body {
        zoom: 80%;
    }
}

body {
	font-family: 'Cormorant Garamond', serif;
    color: #fff;
}

.header {
	height: 1038px;
	color: #fff;
	background-color: #111111;
	background-image: url('../img/background/background-image.jpg');
	background-size: auto;
	background-position: center center;
	padding: 31px 0 100px;
}

.container {
    margin: 0 auto;
	max-width: 1296px;
}

.container--header {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Nav */

.nav {
	height: 70px;
	border-bottom: solid 1px;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 500;
}

.nav-list__link {
	color: #fff;
}

.nav-list__link:hover {
	color: #CDAA7D;
}

.nav-list__link--active {
	color: #CDAA7D;
	border-bottom: solid 1px;
}

.logo {
	height: 40px;
	width: 40px;
}

/* Header content */

.header__content {
	display: flex;
	flex-direction: column;
	row-gap: 70px;
	align-items: center;
	text-align: center;
}

.header__title {
	font-size: 72px;
	font-weight: bold;
}

.scroll__title--wrapper {
	display: flex;
	align-items: center;
}

.scroll__title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

/* Main */

.main {
	background-color: #111111;
}

/* Text section */

.section {
}

.section_content {
	display: flex;
	flex-direction: column;
	gap: 75px;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
}

.section__image {
	width: 80px;
	height: 64px;
}

.section-text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: center;
	font-size: 27px;
	font-weight: bold;
}


.section_sevices {

}

.section__cards {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    gap: 45px;
	row-gap: 70px;
}

.section__cards--services {
	padding: 95px 0px 150px 0px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.card__img--wrapper {
	width: 396px;
	height: 300px;
	position: relative;
}

.card__img--wrapper::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:transparent; 
	content:''; 
	top: 0;
	left: 0;
	margin-left:20px; 
	margin-top: -20px;
	border:1px solid #CDAA7D
}

.card__img {
	display: block;
	max-width: 100%;
	position: absolute;
	z-index: 4;
}

.card__title {
	font-weight: 300;
	font-size: 30px;
}

.section__cosmetics {
	padding-right: 90px;
	padding-left: 90px;
	padding-bottom: 180px;
}

.brands-logos {
	display: flex;
	justify-content: space-between;
}

.brand__logo {

}

.brand__logo--img {
	opacity: 0.5;
}





.section__works {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
}

.section__title {
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 70px;
}

.section__title-text {

}

.section__nav {

}

.section__nav-list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
	padding-bottom: 30px;
}

.section__nav-list__item {

}

.section__nav-list__item--link {
	font-size: 24px;
	color: #fff;
}

.section__nav-list__item--link:hover {
	color: #CDAA7D;
}

.section__nav-list__item--active {
	color: #CDAA7D;
	border-bottom: solid 1px;
}

.works {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
	gap: 24px;
	row-gap: 24px;
	padding-bottom: 100px;
}

.work__img {

}



/* Footer */

.footer {
	padding-bottom: 85px;
}

.footer__row {
	display: grid;
    grid-template-columns: repeat(3, auto);
	padding-top: 80px;
	padding-bottom: 80px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.footer__logo {

}

.footer__logo-img {
	height: 60px;
	width: 60px;
}

.footer__nav--wrapper {
	display: flex;
    justify-content: space-between;
}

.footer__nav {
	display: grid;
    grid-template: 20px;
}

.footer__nav-title {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 38px;
}

.footer__nav-list {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.footer__nav-item {

}

.footer__nav-link {
	color: #fff;
    font-size: 18px;
}

.footer__nav-text {
	font-size: 18px;
}

.footer__nav-socials {
	display: flex;
	gap: 20px;
}

.footer__nav-title--hours{
	padding: 0;
}

.footer__nav-title--socials {
	padding: 0;
}

.footer__nav__social-icon {

}





.button {
    background-color: #CDAA7D;
    border-radius: 12px;
    color: #fff;
    transition: background-color 0.2s ease-in;
	padding: 20px 120px 20px 120px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.button a {
    color: #fff;
	font-size: 28px;
}

.button:hover {
    background-color: #c99857;
}